$color-white : #FFFFFF;
$color-black : #000000;
$color-gray : #E2E2E2;



html, body {
  margin: auto 0;
}
* {
  box-sizing: border-box;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.site {
  width: 100%;
  margin: auto;
}
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}
.site-header {
  margin: 20px auto;
  width: 100%;
}
.main-content,
.resource-center-highlights,
.footer-top {
  margin: 70px auto;
  max-width: 1180px;
  width: 100%;
}
.team-founders,
.team-management,
.team-bussines,
.team-account {
  max-width: 1180px;
  width: 100%;
  margin: 30px auto;
}

.site-info {
  max-width: 1180px;
  width: 100%;
  margin: auto;
  padding: 50px 0;
}

.gray-box {
  background-color: $color-gray;
  padding: 20px 10px;
  margin-bottom: 10px;
  position: relative;
  h2,
  h3,
  p {
    text-align: center;
  }
}
.inner {
  margin: auto;
  max-width: 1180px;
  width: 100%;
}

.footer-top-icon {
  display: block;
  margin: 20px auto;
  padding: 10px;
  background-color: #DEEAD6;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

/*
 * Global styling
 */


:hover {
  transition: .2s ease-in;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: font116557;
  text-transform: uppercase;
  color: #336497;
}

p {
  font-family: Merriweather;
  color: #333333;
}

a {
  text-transform: uppercase;
  text-decoration: none;

  transition: .4s ease-in;
}

button {
  display: block;
  border: none;
  text-align: center;
  cursor: pointer;
}

