::-webkit-input-placeholder { /* Chrome */
  color: #929497;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #929497;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #929497;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #929497;
  opacity: 1;
}
input,
textarea {
	padding: 20px 25px;
	font-size: 18px;
	background-color: #e2e2e2;
	border: none;
	font-weight: 300;
	color: #336497;
	width: 100%;
	margin-top: 25px;
	font-family: Merriweather;
	&:focus {
		background-color: #eeeeee;
		outline: none;
	}
	&[type="submit"] {
		font-family: font116557;
		font-size: 14px;
		display: inline;
		width: auto;
		background-color: transparent;
		padding: 0;
		text-transform: uppercase;
		margin-top: 0;
	}
}
form p:first-of-type input {
	margin-top: 0;
}
.input-arrow {
	margin: 25px auto auto auto;
	overflow: hidden;
	background-color: #74c1d6;
	color: #336497;
	border: none;
	padding: 15px 20px;
	display: inline-block;
	&:after {
	font-family: ElegantIcons;
	content: '\45';
	display: inline-block;
	vertical-align: middle;
	}
}
div.wpcf7 .ajax-loader {
	display: inline;
}
span.wpcf7-not-valid-tip {
	font-size: 12px;
	line-height: normal;
}
.contact-page,
.login-page {
	&.three-column-text {
		background-color: #fff;
		h2 {
			background-color: #fff;
			position: relative;
			z-index: 1;
		}
	}
	.additional-information p {
		line-height: 40px;
	}
}
