
.flex-container {
  position: relative;
  background: #336497 url("img/SVG/home-hero-bg.svg");
  background-size: cover;
  .flex-control-nav {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.slides {
  li {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 60px 0 100px;
    .flex-caption {
      text-align: center;
      text-transform: uppercase;
      p {
        font-family: font116557;
        text-align: center;
        font-size: 30px;
        color: #FFF;
        margin-bottom: 0;
      }
      a {
        font-family: font116557;
        font-size: 14px;
        margin: 50px auto auto auto;
        overflow: hidden;
        background-color: #DEEAD6;
        color: #336497;
        border: none;
        padding: 10px 25px;
        display: inline-block;
        &::after {
          font-family: ElegantIcons;
          content: '\45';
          display: inline-block;
        }
      }
    }
    .flex-image {
      width: 400px;
      height: 400px;
      overflow: hidden;
      display: none;
      flex-basis: 50%;
      padding: 5px;
      float: right;
      border: 4px solid rgba(255,255,255,.15);
      border-radius: 50%;
    }
  }
}