/*
 * Footer top region
 */

.footer-top {
  .featured {
    width: 100%;
    text-align: center;
    display: block;
    margin-bottom: 100px;
    font-family: font116557;
    font-size: 16px;
    span {
      &::before {
        margin-bottom: 30px;
      }
    }
    a {
      text-transform: uppercase;
      color: #929497;
      cursor: pointer;
      &:hover {
        color: #336497;
      }
    }
  }
}

/*
 * Footer region
 */

.site-footer {
  background: #346397 url("img/SVG/home-hero-bg.svg") no-repeat;
  text-align: center;
  background-position: right;
  .footer-menus {
    margin: auto;
    padding-top: 30px;
    max-width: 1180px;
    width: 100%;
    .footer-menu {
      margin-bottom: 50px;
    }
  }
  .menu-title {
    font-family: font116557;
    text-transform: uppercase;
    font-size: 12px;
    color: #C9D5E2;
    margin-bottom: 2px;
  }
  ul,
  li {
    margin-top: 5px;
    padding: 0;
    list-style-type: none;
  }
  a {
    font-family: 'Merriweather';
    font-size: 14px;
    text-decoration: none;
    color: #C9D5E2;
    &:hover {
      color: #C9D5E2;
    }
  }
  .site-info {
    padding-bottom: 30px;
    img {
      width: 300px;
      margin-right: 20px;
    }
    p {
      font-family: Merriweather;
      font-size: 12px;
      color: #93C2E2;
    }
    .info-desc {
      a {
        text-transform: none;
        color: #93C2E2;
        &:hover {
          color: #FFF;
        }
        &::after {
          content: '|';
          display: inline-block;
          padding-left: 2px;
        }
      }
    }
  }
}

