.hero-bottom {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  background-size: cover;
  z-index: 1;
  &::before {
    display: block;
    content: '';
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
  }
  .hero-bottom-caption {
    padding: 200px 15px;
    text-align: center;
    h2 {
      a {
        font-size: 34px;
        color: #336497;
      }
    }
    .date {
      margin-top: 0;
      font-family: font116557;
      text-transform: uppercase;
      font-size: 12px;
    }
    .caption {
      margin-top: 30px;
      font-family: Merriweather;
      color: #333333;
      font-size: 16px;
      line-height: 30px;
    }
    .link {
      margin-top: 50px;
      a {
        margin: auto;
        padding: 15px 20px;
        font-family: font116557;
        background-color: #74C1D6;
        color: #336497;
        border: none;
        width: 150px;
        height: 50px;
        &::after {
          font-family: ElegantIcons;
          content:'\45';
        }
      }
    }
  }
}