.hero-wrapper {
  position: relative;
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    .flex-caption {
      h4 {
        &::before {
          display: block;
          margin: 10px auto;
          content: '';
          width: 80px;
          border-bottom: 6px solid #C2D8B4;
        }
      }
    }
    .caption,
    .flex-caption {
      max-width: 620px;
      width: 100%;
      margin: auto;
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%;
      padding: 0 15px;
      h1,
      h2 {
        color: $color-white;
        font-size: 30px;
        letter-spacing: 3px;
      }
      h4 {
        text-transform: none;
        color: $color-white;
        font-weight: normal;
        font-family: Merriweather;
        line-height: 30px;

      }
      h5 {
        color: $color-white;
        margin: 20px 0;
        .author,
        .date,
        .tag {
          a {
            font-family: font116557;
            text-transform: uppercase;
            color: $color-white;
          }
        }
      }
      .hero-link {
        a {
          font-family: font116557;
          font-size: 14px;
          margin: 50px auto auto auto;
          overflow: hidden;
          background-color: #DEEAD6;
          color: #336497;
          border: none;
          padding: 15px 20px;
          display: inline-block;
          &:hover {
            background-color: #74c0d5;
            color: $color-white;
          }
          &:after {
            font-family: ElegantIcons;
            content: '\45';
            display: inline-block;
            vertical-align: middle;
            margin-top: -6px;
          }
        }
      }
    }
    .flex-image-border {
      display: none;
      margin: auto;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      width: 518px;
      height: 518px;
      border: 4px solid rgba(255, 255, 255, 0.15);
      padding: 5px;
      .image,
      .flex-image {
        overflow: hidden;
        position: relative;
        width: 500px;
        height: 500px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        img {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: auto;
          min-height: 100%;
          height: auto;
        }
      }
    }
  }
  .overlay {
    &::before {
      display: block;
      content: '';
      background-color: rgba(0, 0, 0, 0.3);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
  }
  &::after {
    content: '';
    display: block;
    clear: both;
  }
  .hero {
    margin-bottom: 0;
  }
}
.page-template-page-our-services .hero-wrapper .container .flex-caption h4 {
  margin-top: 20px;
}
.page-template-page-our-services .hero-wrapper .container .flex-caption h4::before {
  display: none;
}
