.logins {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
		padding: 42px 0;
		border-bottom: 3px solid #dddddd;
		&:first-child {
			padding-top: 0;
		}
		&:last-child {
			border-bottom: none;
		}
		h3 {
	    font-family: Merriweather;
	    font-size: 22px;
	    text-transform: none;
	    color: #000;
		}
		> a {
	    font-family: font116557;
	    background-color: #deead6;
	    color: #336497;
	    font-size: 14px;
	    padding: 15px 25px;
	    display: inline-block;
	    margin-top: 25px;
	    &:after {
				font-family: ElegantIcons;
				content: '\45';
				display: inline-block;
				vertical-align: middle;
				margin-top: -6px;
	    }
		}
	}
	p a {
	  color: #336497;
	  text-transform: none;
	  text-decoration: underline;
	}
}