.menu-menu-1-container {
  display: block;
  padding-bottom: 30px;
}

.menu-item-has-children {
  ul {
    a {
      &:hover:before {
        position: absolute;
        bottom: 16px;
        left: 50px;
        font-family: ElegantIcons;
        content:'\45';
        display: inline-block;
        color: #346397;
      }
    }
  }
}
.site-header {
  &.open {
    .close {
      display: block;
      margin-right: 10px;
      z-index: 11;
      font-size: 35px;
      color: #336497;
      font-family: font116557;
      padding: 0;
      background: none;
      transition: .4s all ease-in-out;
    }
  }
}
.site-header {
  position: relative;
  height: 40px;
  .close {
    position: absolute;
    right: 50px;
    display: none;
  }
  .site-branding {
    padding-left: 15px;
    display: inline-block;
    position: absolute;
    img {
      width: 200px;
      display: block;
    }
  }
  .menu-toggle {
    background-color: #fff;
    padding: 10px;
    position: fixed;
    top: 20px;
    right: 50px;
    cursor: pointer;
    span {
      display: block;
      border: 2px solid #336497;
      background-color: #336497;
      height: 2px;
      width: 30px;
      margin-bottom: 5px;
      &:nth-child(2) {
        top: 10px;
      }
      &:nth-child(3) {
        top: 20px;
        margin-bottom: 0;
      }
    }
  }
  .main-navigation {
    -webkit-transition: .4s all ease-in-out;
    -moz-transition: .4s all ease-in-out;
    -ms-transition: .4s all ease-in-out;
    -o-transition: .4s all ease-in-out;
    transition: .4s all ease-in-out;
    top: -20px;
    #menu-main-nav-top {
      padding-bottom: 10px;
    }
    #search-button-listener {
      display: none;
    }
    #menu-main-nav-top {
      a {
        font-size: 14px;
      }
    }
    .menu {
      display: none;
      list-style-type: none;
      text-transform: uppercase;
      padding: 0 20px;
      text-align: center;
      .sub-menu {
        a {
          color: #336497;
          &::before {
            content:'\45';
            font-family: ElegantIcons;
            color: #336497;
            display: inline-block;
          }
        }
      }
      .current_page_item {
        a {
          color: #336497;
        }
      }
      .client-login {
        a {
          display: inline-block;
        }
        &::before {
          content:'\45';
          font-family: ElegantIcons;
          color: #929497;
          display: inline-block;
        }
      }
      a {
        display: block;
        font-family: font116557;
        font-size: 16px;
        color: #929497;
        padding: 15px 10px;
        position: relative;
        &:hover {
          color: #336497;
        }

      }
      li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        ul {
          display: none;
        }
      }
    }
  }
  .open {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.95);
    z-index: 10;
    -webkit-transition: .4s all ease-in;
    -moz-transition: .4s all ease-in;
    -ms-transition: .4s all ease-in;
    -o-transition: .4s all ease-in;
    transition: .4s all ease-in;
    .custom-menu-class {
      padding-top: 60px;
    }
    .menu-menu-1-container {
      padding-bottom: 30px;
    }
    #search-button-listener {
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    .menu {
      display: block;
      text-align: center;
      max-height: 800px;
      height: 100%;
      li {
        ul {
          display: none;
        }
      }
    }
  }
}

//Search button

