.three-column-text {
  background-color: #E5E5E5;
  padding: 20px 0 0 0;

  h2 {
    & b, & strong {
      opacity: .6;
      font-weight: normal;
    }
  }
  .columns {
    line-height: 25px;
    font-size: 16px;
    color: #333333;
  }
  .image {
    width: 100%;
    height: 240px;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
  }

}

.text-with-list {
  padding: 20px 0 0 0;

  h3 {
    & b, & strong {
      opacity: .6;
      font-weight: normal;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 20px 0;
    li{
      position: relative;
      padding-left: 30px;
      margin: 10px 0;
      font-family: Merriweather;
      font-size: 16px;
      font-weight: 300;
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 7px;
        left: 11px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #C2D8B4;
      }
    }

  }


}
