@media (min-width: 770px) {

  /* Home page */

  .main-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .main-content-left,
    .main-content-right {
      flex-basis: 48%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      img {
        width: 180px;
        height: 220px;
      }
      .post-info {
        flex-basis: 50%;
        .link {
          &::after {
            margin-top: 20px;
            content: '';
            display: block;
            border-bottom: 5px solid #DEEAD6;
            width: 100px;
          }
        }
      }
    }
  }

  .team-founders {
    .team-member:nth-of-type(1) {
      flex-basis: 100%;
    }
  }
  .team-founders,
  .team-management,
  .team-bussines,
  .team-account {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .team-member {
      flex-basis: 50%;
      text-align: left;
      img {
        float: left;
        margin-right: 30px;
      }
      h3 {
        margin-top: 15px;
      }
    }
  }


  .resource-center-highlights {
    margin-top: 50px;
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1180px;
      width: 100%;
      padding-bottom: 0;
      &::after {
        bottom: 20px;
      }
      p {
        padding-right: 20px;
      }
      a {
        padding: 0 25px;
      }
    }
    .highlighted-resources {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      .center-highlight {
        flex-basis: 33%;
        text-align: left;
      }
    }
  }
  .hero-bottom {
    margin-top: 100px;
  }
  .hero-bottom-caption {
    padding-top: 80px;
  }
  .footer-top {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .featured {
      flex-basis: 48%;
    }
  }

  .site-footer {
    .footer-menus {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-top: 0;
      .footer-menu {
        flex-basis: 48%;
      }
    }
    .site-info {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .info-desc {
        p, a {
          text-align: left;
          margin: 0;
        }
        a {
          float: left;
        }
      }
    }
  }

  .main-post-content {
    .posts,
    .post-article {
      width: 65%;
      float: left;
      clear: left;
      padding: 60px;
      margin-top: -60px;
      background: #fff;
    }
    .posts-right {
      width: 30%;
      float: right;
      clear: right;
    }
  }

}

@media (min-width: 1024px) {

  .site {
    .site-header {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100px;
      .site-branding {
        position: relative;
      }
      .menu-toggle {
        display: none;
      }
      .main-navigation {
        #search-button-listener {
          display: inline-block;
          margin-left: 20px;
        }
        .custom-menu-class {
          text-align: right;
        }
        #menu-main-nav-top,
        .menu-menu-1-container {
          padding-bottom: 0;
          display: inline-block;
        }
        .menu {
          display: inline-block;
          text-align: right;
          margin: 0;
          width: 100%;
          li {
            display: inline-block;
            position: relative;
            margin: 0;
            &:hover {
              ul {
                display: block;
                position: absolute;
                right: -90px;
                margin-top: 15px;
                z-index: 1;
                padding: 0;
                background-color: #DEEAD6;
                &::before {
                  position: absolute;
                  display: block;
                  content: '';
                  left: 40%;
                  top: -15px;
                  border-left: 15px solid transparent;
                  border-right: 15px solid transparent;
                  border-bottom: 15px solid #DEEAD6;
                }
                li {
                  margin: 0;
                  padding: 10px 0;
                  display: block;
                  width: 250px;
                  text-align: center;
                  a {
                    color: #336497;
                  }
                }
              }
            }
          }

        }
      }
    }
    .main-content {
      .main-content-left,
      .main-content-right {
        .post-info {
          flex-basis: 60%;
        }
      }
    }
    .inner {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;
      position: relative;
      &::after {
        position: absolute;
        content: '';
        bottom: -140px;
        left: 30px;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        border-top: 40px solid #346397;
      }
      .left {
        flex-basis: 48%;
        text-align: left;
        h1 {
          &::after {
            margin: 0;
            margin-top: 30px;
          }
        }
        p {
          width: 70%;
        }
      }
      .right {
        flex-basis: 48%;
        border-radius: 50%;
        overflow: hidden;
        max-width: 500px;
      }
    }
    .gray-box {
      .inner {
        h2, p {
          text-align: left;
        }
        h2 {
          flex-basis: 40%;
        }
        p {
          flex-basis: 50%;
        }
        &::after {
          position: absolute;
          content: '';
          bottom: -50px;
          left: 30px;
          border-left: 40px solid transparent;
          border-right: 40px solid transparent;
          border-top: 40px solid #E2E2E2;
        }
      }
    }

    .hero-bottom-caption {
      padding-right: 100px;
      width: 691px;
      text-align: left;
      float: right;
      button {
        margin: 0;
      }
    }
    .footer-top {
      .featured {
        flex-basis: 33%;
      }
    }
    .site-footer {
      .footer-menu {
        flex-basis: 22%;
        text-align: left;
        .menu-title,
        .nav {
          padding-left: 20px;
        }
        .menu-title {
          margin-top: 0;
          border-left: 2px solid #FFF;
          padding-top: 70px;
          margin-bottom: 20px;
        }
        .page_item {
          margin: 20px 0;
          a {
            text-transform: none;
          }
        }
      }
    }

    .single-team-member {
      .wrapper {
        p {
          text-align: left;
          position: relative;
          &::after {
            content: '';
            position: absolute;
            left:0;
            top: 70px;
            border-left: 40px solid transparent;
            border-right: 40px solid transparent;
            border-top: 40px solid $color-gray;
          }
        }
      }
      .member-wrapper {
        margin: auto;
        display: flex;
        justify-content: space-between;
        position: relative;
        max-width: 1180px;
        width: 100%;
        a {
          position: absolute;
          right: 0;
          bottom: 10px;
        }
      }
      .member-photo {
        margin: 0;
        margin-top: -70px;
      }
      .member-info {
        margin: 0;
        margin-top: 50px;
        width: 500px;
        h1 {
          font-size: 48px;
        }
        h1,
        p {
          text-align: left;
        }
      }
    }
  }

}

@media (min-width: 1180px) {
  .slides {
    li {
      
      .flex-caption {
        float: left;
        width: 40%;
        text-align: left;
        p {
          font-size: 45px;
          line-height: 55px;
          text-align: left;
        }
      }
      .flex-image {
        display: block;
      }
    }
  }

  .site-header {
    justify-content: space-between;
  }
  .resource-content {
    .hero {
      height: 800px;
    }
    .hero-caption {
      width: 500px;
      left: 20%;
      -webkit-transform: translate(-20%, -50%);
      -moz-transform: translate(-20%, -50%);
      -ms-transform: translate(-20%, -50%);
      -o-transform: translate(-20%, -50%);
      transform: translate(-20%, -50%);
      text-align: left;
      h1 {
        margin-bottom: 0;
        font-size: 60px;
      }
      p {
        margin-bottom: 20px;
      }
      p:nth-of-type(2) {
        margin-top: 0;
        margin-bottom: 40px;
        font-size: 20px;
      }
      a {
        margin-top: 20px;
      }

    }
  }
  .main-post-content {
    .posts,
    .post-article {
      .title {
        text-align: left;
        z-index: 1;
        background: $color-white;
        &::after {
          bottom: 10px;
          z-index: -1;
        }
      }
    }
    .post-article h1 {
      font-size: 48px;
      line-height: 58px;
    }
    aside {
      margin-top: 10px;
    }
    .img-l {
      float: left;
      clear: left;
      overflow: hidden;
      text-align: right;
      p {
        border-right: 2px solid $color-gray;
        padding-right: 10px;
        span {
          display: block;
          font-size: 40px;
        }
      }
    }
    .img-r {
      float: right;
      clear: right;
      width: 50%;
      text-align: left;
      h2 {
        font-size: 25px;
      }
      .short-desc {
        font-size: 15px;
      }
    }
  }
}

@media (min-width: 1366px) {
  .slides li .flex-image {
    width: 500px;
    height: 500px;
  }
  .slides li {
    padding: 90px 0 130px;
  }
  .slides li .flex-caption {
    width: 45%;
  }
  .slides li .flex-caption p {
    font-size: 55px;
    line-height: 65px;
  }
}