.team-hero {
  margin-bottom: 20px;
  background-color: #346397;
  padding: 100px 5px;
  text-align: center;
  position: relative;
  z-index: 1;
  &::after {
    content: '';
    position: absolute;
    background: url('img/SVG/home-hero-bg.svg');
    top: 0;
    bottom: 0;
    right: 0;
    left: -40px;
    z-index: -1;
  }
  .left {
    h1 {
      color: $color-white;
      font-size: 60px;
      &::after {
        display: block;
        margin: 10px auto;
        content: '';
        width: 100px;
        border-bottom: 5px solid #C2D8B4;
      }
    }
    p {
      margin-top: 50px;
      color: $color-white;
      line-height: 25px;
    }
  }
  .right {
    flex-basis: 48%;
    border-radius: 50%;
    overflow: hidden;
    max-width: 500px;
    max-height: 500px;
    height: 500px;
    border: 2px solid $color-gray;
    position: relative;
    padding: 5px;
    img {
      position: absolute;
      left: 0;
      top: -10px;
      -webkit-transform: translateX(-25%);
      -moz-transform: translateX(-25%);
      -ms-transform: translateX(-25%);
      -o-transform: translateX(-25%);
      transform: translateX(-25%);
      display: block;
      &:hover {
        border-color: #000000;
      }
    }
  }
}

.team-members {
  .team-member {
    margin: 50px auto;
    text-align: center;
    &:nth-child(5){
      flex-basis: 100%;
    }
    img {
      max-width: 130px;
      max-height: 130px;
      width: 100%;
      border: 2px solid #E2E2E2;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      padding: 5px;
      &:hover {
        border-color: #3498db;
      }
    }
    p {
      font-style: italic;
      max-width: 500px;
      text-transform: initial;
      &:nth-of-type(2) {
        margin-top: 0;
      }
    }
  }
}

/**
 * Single Team Page
 */

.single-team-member {
  .highlighted {
    text-transform: uppercase;
    background-color: $color-gray;
    text-align: left;
    p {
      text-align: center;
      margin: 0;
      font-family: font116557;
      font-size: 25px;
      padding: 20px 0;
    }
  }
  .wrapper {
    max-width: 1180px;
    width: 100%;
    margin: auto;
  }
  .member-photo {
    max-width: 400px;
    max-height: 500px;
    display: block;
    margin: auto;
    width: 100%;
    img {
      width: 100%;
    }
  }
  .member-info {
    padding: 10px;
    margin: auto;
    h1 {
      font-family: font116557;
      font-size: 18px;
      text-align: center;
      text-transform: uppercase;
      color: #336497;
    }
    .title,
    .info {
      color: #666666;
      font-family: Merriweather;
      font-style: italic;
    }
    .title {
      text-align: center;
      &:after {
        margin: 10px 0;
        display: block;
        content: '';
        border-bottom: 5px solid #666666;
        width: 150px;
      }
    }
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: #666666;
      &::before {
        display: inline-block;
        font-family: ElegantIcons;
        content: '\44';
      }
    }
  }
}