@import "elegantIcons";

@import url('https://fonts.googleapis.com/css?family=Merriweather:300');

@font-face {
  font-family: 'ElegantIcons';
  src:url('fonts/ElegantIcons.eot');
  src:url('fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
  url('fonts/ElegantIcons.woff') format('woff'),
  url('fonts/ElegantIcons.ttf') format('truetype'),
  url('fonts/ElegantIcons.svg#ElegantIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'font116557';
    src: url('fonts/brandongrotesque-bold-webfont.woff2') format('woff2'),
         url('fonts/brandongrotesque-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}