.hero {
  position: relative;
  width: 100%;
  height: 550px;
  margin-bottom: 20px;
  background: url("http://dev.jsf.loc/wp-content/uploads/2017/10/iStock_000004319094XLarge-1.jpg") no-repeat;
  background-size: cover;
  &::after {
    display: block;
    content: '';
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .hero-caption {
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1,
    p {
      color: $color-white;
      font-weight: bold;
      margin-bottom: 50px;
    }
    p:nth-of-type(1) {
      text-transform: uppercase;
      font-family: font116557;
    }
    p:nth-of-type(2) {
      font-weight: normal;
    }
    h1 {
      font-size: 30px;
    }
    a {
      font-family: font116557;
      padding: 15px;
      background-color: #DEEAD6;
      color: #336497;
      margin: auto;
      &::after {
        font-family: ElegantIcons;
        content:'\45';
      }
    }
  }
}
.resource-content {
  .hero-post {
    height: 470px;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      width: 100%;
      top: 27%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
}
.main-post-content {
  max-width: 1180px;
  width: 100%;
  margin: auto;
  position: relative;
  .description {
    .authored-by {
      font-size: 12px;
      font-family: font116557;
      text-transform: uppercase;
      span {
        a {
          color: #7FADD3;
        }
      }
    }
    .text {
      p {
        color: #666666;
        font-size: 16px;
        line-height: 25px;
      }
    }
  }
  .pager {
    border-top: 3px solid $color-gray;
    border-bottom: 3px solid $color-gray;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    a {
      font-family: font116557;
      font-size: 18px;
      color: #929497;
      &:hover {
        color: #336497;
      }
    }
    a:nth-child(1) {
      padding-left: 5px;
      &::before {
        font-family: ElegantIcons;
        content: '\23';
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
      }
    }
    a:nth-child(2) {
      padding-right: 5px;
      &::after {
        font-family: ElegantIcons;
        content: '\24';
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
      }
    }
  }
}
.posts {
  position: relative;
  &::after {
    display: block;
    position: absolute;
    content: '';
    top: 15px;
    border-bottom: 3px solid #DEEAD6;
    width: 100%;
  }
  .title {
    background-color: $color-white;
    position: relative;
    text-align: center;
    max-width: 175px;
    margin-bottom: 50px;
    color: #7FADD3;
    font-weight: normal;
    font-size: 18px;
  }
  .images {
    text-align: center;
    margin-bottom: 50px;
    overflow: hidden;
    img {
      max-width: 360px;
      max-height: 250px;
      width: 100%;
    }
    .img-l {
      p {
        text-transform: uppercase;
        color: #929497;
        font-size: 10px;
        font-family: "font116557";
        span {
          color: #7FADD3;
          margin: 0;
          font-size: 33px;
          line-height: 33px;
        }
      }
    }
    .img-r,
    .description {
      .author {
        font-size: 12px;
        font-family: font116557;
        text-transform: uppercase;
        .by {
          color: #7FADD3;
        }
      }
      p {
        line-height: 30px;
      }
      h2 {
        a {
          font-size: 24px;
          color: #346397;
          &::before,
          &::after {
            display: none;
          }
        }
      }
      a {
        color: #7FADD3;
        font-weight: normal;
        &::after {
          display: inline-block;
          vertical-align: middle;
          font-family: ElegantIcons;
          content: '\45';
        }
      }
    }
  }
}
/*
 * Sidebar
 */
.widget-area {
  max-width: 360px;
  width: 100%;
  margin: auto;
  .widget {
    position: relative;
    &::after {
      position: absolute;
      content: '';
      top: 15px;
      border-bottom: 3px solid #DEEAD6;
      width: calc( 100% - 1em);
      display: block;
      z-index: 0;
    }
  }
  .widget-title {
    margin-top: 50px;
    color: #7FADD3;
    background: #FFFFFF;
    position: relative;
    max-width: 360px;
    font-weight: normal;
    font-size: 18px;
    z-index: 2;
    display: inline-block;
    padding-right: 10px;
    &:nth-child(1) {
      margin-top: 0;
    }
  }
  ul {
    font-family: font116557;
    font-size: 18px;
    color: #7FADD3;
    text-transform: uppercase;
    list-style-type: none;
    padding: 0;
    li:nth-child(1) {
      margin-top: 30px;
    }
    li {
      position: relative;
      font-family: font116557;
      font-size: 16px;
      border-bottom: 2px solid #999999;
      padding-bottom: 10px;
      margin-bottom: 10px;
      a {
        color: #929497;
        &:hover {
          color: #336497;
        }
        &:after {
          position: absolute;
          right: 0;
          font-family: ElegantIcons;
          display: inline-block;
          content: "\35";
        }
      }
    }
  }
  .tagcloud {
    .tag-cloud-link {
      margin: 2px;
      display: inline-block;
      font-size: 14px !important;
      color: #929497;
      padding: 10px;
      border: 2px solid $color-gray;
      font-weight: bold;
      width: auto;
      &:hover {
        color: #336497;
      }
    }
  }
}

.resource-center-highlights {
  .title {
    text-align: center;
    display: block;
    position: relative;
    margin: 0 auto 20px auto;
    padding-bottom: 25px;
    &::after {
      display: block;
      position: absolute;
      bottom: 6px;
      content: '';
      border-bottom: 2px solid #DEEAD6;
      width: 100%;
    }
    p,a {
      z-index: 1;
      background-color: #fff;
      color: #7FADD3;
      text-decoration: none;
      text-transform: uppercase;
    }
    p {
      margin-bottom: 15px;
      font-family: font116557;
      font-size: 18px;
    }
    a {
      font-size: 16px;
      font-family: font116557;
      &::after {
        font-family: ElegantIcons;
        content: '\45';
      }
    }
  }
  .center-highlight {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    img {
      max-width: 360px;
      max-height: 264px;
      width: 100%;
      height: 100%;
    }
    p {
      font-family: 'Merriweather', serif;
      font-size: 16px;
      color: #333333;
    }
    a {
      font-family: font116557;
      font-size: 14px;
      text-transform: uppercase;
      text-decoration: none;
      color: #7FADD3;
      &::after {
        font-family: ElegantIcons;
        content: '\45';
        display: inline-block;
      }
    }
  }
}

.about-author {
  .short-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
    .post-date {
      text-align: left;
      border-right: 2px solid black;
      padding-right: 25px;
      flex-basis: 30%;
      text-transform: uppercase;
      color: #929497;
      font-size: 10px;
      font-family: "font116557";
      span {
        color: #7FADD3;
        margin: 0;
        font-size: 33px;
        line-height: 33px;
      }
    }
    .author-img {
      overflow: hidden;
      flex-basis: 65%;
      img {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        max-width: 50px;
        max-height: 50px;
        width: 100%;
      }
    }
  }
  .author-social {
    display: flex;
    justify-content: space-between;
    span {
      font-size: 30px;
      color: #E2E2E2;
      &:hover {
        color: #336497;
      }
    }
  }
  .author-info {
    background-color: $color-gray;
    margin: 50px 0;
    padding: 10px;
    width: 100%;
    .about {
      text-transform: uppercase;
      font-family: font116557;
      font-size: 12px;
    }
    .name {
      text-transform: uppercase;
      font-family: font116557;
      font-size: 16px;
      color: #336497;
    }
    .desc {
      line-height: 25px;
      padding-right: 10px;
    }
  }
}